.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 8rem;

    &__logo {
        width: 20rem;
        margin-left: 3rem;
    }

}

.header__menu {
    margin-right: 3rem;
    position: relative;

    .menu__profile {
        width: 4rem;
        // margin-right: 0.8rem;
    }
    
    .menu__logged {
        // display: none;
        width: 10rem;
        text-align: right;
        position: absolute;
        right: 0;
    }
}