.main {
    width: 100%;
}

.main__search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 6rem;
    
    .search__form {
        display: flex;
        flex-flow: column nowrap;
        width: 95%;
    }

    .search__title {
        align-self: center;
        margin-bottom: 2.1rem;
        font-size: 2.5rem;
    }
}