.login,
.register {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    min-height: calc(100vh - 20rem);
    font-size: 1.4rem;

    &__container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        width: 100%;
        max-width: 44rem;
        min-height: 70rem;
        padding:  4rem 3.4rem 4rem;
        color: $color-claro;
    }
}