section.carousel 
    .carousel__container
        +item-carousel("https://images.pexels.com/photos/3226442/pexels-photo-3226442.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940", "Foto de una mujer asiatica vestida de rojo.")
        +item-carousel("https://images.pexels.com/photos/3226442/pexels-photo-3226442.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940", "Foto de una mujer asiatica vestida de rojo.")
        +item-carousel("https://images.pexels.com/photos/3226442/pexels-photo-3226442.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940", "Foto de una mujer asiatica vestida de rojo.")
        +item-carousel("https://images.pexels.com/photos/3226442/pexels-photo-3226442.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940", "Foto de una mujer asiatica vestida de rojo.")
