footer.footer
    nav.footer__nav
        ul.footer__faq
            li.faq__items
                a(href="#") Términos de uso
            li.faq__items
                a(href="#") Declaración de privacidad
            li.faq__items
                a(href="#") Centro de ayuda 