footer.footer
    nav.footer__nav
        ul.footer__faq
            li.faq__items
                a(href="#").faq-link Términos de uso
            li.faq__items
                a(href="#").faq-link Declaración de privacidad
            li.faq__items
                a(href="#").faq-link Centro de ayuda 