extend ./components/_plantilla.pug
block head 
    include ./components/styles-components/_style-homepage.pug
block main 
    main.main
        section.main__search
            form.search__form(action="")
                h2.search__title ¿Qué quieres ver hoy?
                label(for="")
                    input.input(type="text" id="" placeholder="Buscar...")
        include ./components/_carousel.pug

