extend ./components/_plantilla.pug
block main
    main.main
        section.main__search
            form.search__form(action="")
                h2.search__title ¿Qué quieres ver hoy?
                label(for="")
                    input.input(type="text" id="" placeholder="Buscar...")

