extend ./components/_plantilla.pug
block main
    main.main
        //- section 
        //-     form(action="")
        //-         h2 ¿Qué quieres ver hoy?
        //-         label(for="")
        //-             input(type="text" id="" placeholder="Buscar...")

