* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: #8F57FD;
}

img {
    width: 100%;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 8rem;
}
.header__logo {
    width: 20rem;
    margin-left: 3rem;
}

.header__menu {
    margin-right: 3rem;
    position: relative;
}
.header__menu .menu__profile {
    width: 4rem;
}
.header__menu .menu__logged {
    width: 10rem;
    text-align: right;
    position: absolute;
    right: 0;
}