* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Mulish", sans-serif;
    font-size: 1.6rem;
    color: #ffffff;
    background-color: #8F57FD;
}

img, svg {
    width: 100%;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 8rem;
}
.header__logo {
    width: 15rem;
    margin-left: 1rem;
}

.header__menu {
    margin-right: 1rem;
    position: relative;
}
.header__menu:hover .menu__logged {
    display: initial;
}

.menu__profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.menu__profile .profile__icon {
    width: 5rem;
    margin-right: 0.8rem;
}

.menu__logged {
    display: none;
    width: 10rem;
    text-align: right;
    position: absolute;
    right: 0;
}
.menu__logged .logged__items {
    margin: 1rem 0;
}
.menu__logged .logged__text {
    color: #ffffff;
    font-weight: 500;
}
.menu__logged .logged__text:hover {
    text-decoration: underline;
}

.main {
    width: 100%;
}

.main__search {
    height: 30rem;
}
.main__search .search__form {
    width: 70%;
}
.main__search .search__title {
    margin-bottom: 2.1rem;
    font-size: 2.5rem;
}

.input {
    width: 100%;
    height: 5rem;
    padding-left: 2rem;
    border: 0.2rem solid #ffffff;
    border-radius: 5rem;
    font-family: "Mulish", sans-serif;
    font-size: 1.6rem;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
}
.input::-webkit-input-placeholder {
    color: #ffffff;
}
.input::-moz-placeholder {
    color: #ffffff;
}
.input:-ms-input-placeholder {
    color: #ffffff;
}
.input::-ms-input-placeholder {
    color: #ffffff;
}
.input::placeholder {
    color: #ffffff;
}