doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
    header
        h1 Platzi-Video
        nav
            ul
                li Cuenta
                li Cerrar Sesión 
    main
        h2 Sección principal
    footer
        nav
            ul
                li Contáctanos
                li Política de privacidad
                li Términos y condiciones